# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Optional: keep raw data out of git if needed
# data/raw/listings.csv
